@import url(https://db.onlinewebfonts.com/c/ed2d17aca87133497183dc2ebdab7ce5?family=GROTESKIA);
@import url(https://db.onlinewebfonts.com/c/0b126f23fbd87eea683f53b749b11348?family=BOLDE);
@import url(https://db.onlinewebfonts.com/c/81de1116100c3e83928515272b2cff5d?family=Folio+Bold+Condensed);
@import url(https://db.onlinewebfonts.com/c/a92bf9acfd4c9b1d90591038ae5d8d2c?family=MANLight);

body{
    margin: 0;
    padding: 0;
    background-color: lightgray !important;
}
.masthead {
    width: 99vw;
    height: 80vh;
    min-height: 500px;
    background-image: url('../assets/background/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.searching{
    background-image: url('../assets/icons/Loop_CTA.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}

.logo{
    z-index: 2;
    width: 407px;
    height : 26px;
    position: absolute;
    display: flex;
    top: 0;
}

.text{
    z-index: 1;
    font-family: 'folio-bold-condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    padding: 2em;
}

.text legend{
    display: inline-flex;
    text-transform: uppercase;
    text-align: center;
    color: #FFD15B;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.nav-search{
    z-index: 1;
}

.card-header.time{
    z-index: 2;
    background-color: #FFD15B;
}

.number{
    font-size: 1em;
    font-weight: bold;
    width: 97px;
    height: 32px;
}

.card-img-top{
    width: 18rem;
    height: 17vh;
    border-radius: 21px 21px 0 0;
}

#name{
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "GROTESKIA";
    font-weight: bold;
    font-size: 1rem;
}

#recipe, #ingredients, .list-ingredients, #description{
    font-size: 0.8rem;
}

#recipe, #ingredients{
    font-family: "BOLDE";
    color:grey;
    font-weight: normal;
    text-transform: uppercase;
}

#description{
    font-family: "MANLight";
    font-weight: 700;
    font-size: 0.8rem;
}


ul, li{
    list-style-type: none;
}


.recipe-composant{
    font-family: "MANLight";
    font-weight: 700;
}

.recipe-composant-quantity{
    font-family: "BOLDE";
    color:grey;
}

.highlight {
    font-weight: bolder;
    font-size: larger;
    color:black;
    background-image: linear-gradient(to right, #e4f221cc, #FFD15B, #F27121cc);
    border-radius: 6px;
}

ul.dropdown-menu-ustensils, ul.dropdown-menu-appliances, ul.dropdown-menu-ingredients{
    max-height: 20vh;
    width: 200px;
    overflow-y: auto;
}
ul.dropdown-menu-ustensils > li > *, ul.dropdown-menu-appliances > li > *, ul.dropdown-menu-ingredients > li > *{
    white-space: wrap;
}


.input-field{
    width: 100%;
    position: relative;

}

.form-control{
    height: 50px;
}

#site-search{
    width: 900px;
    outline: none;
    border: none;
    padding-left: 1em;
}
#site-search:focus, #site-search:active {
    outline: none;
}
#site-search:focus + button{
    background-image: url('../assets/icons/Loop_CTA_Yellow.png');
}

#site-search::-webkit-search-cancel-button{
    cursor: pointer;
}

#nav-search{
    width: 955px;
}