body{
    margin: auto;
    padding: auto;
}

body,.image-wrapper, .image-wrapper img, .text, .nav, .search input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: absolute;
    padding: 2em;
}

.image-wrapper{
    width: 100vw;
    height: 25vh;
}

.image-wrapper img{
    width: 100%;
    object-fit: cover;
}

.text span{
    width: 45vw;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 196, 0);
    font-weight: bold;
    font-size: 2em;
    margin: auto;
}
.text span, .nav input {
    width: 45vw;
    height: 2vh;
}